
.header{
    text-align: center;
    margin: 8rem;
    color: var(--content_color);
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: relative;
}
.header::after {
    content: '';
    position: absolute;
    bottom:  -30px;
    left: 520px;
    width: 24rem;
    background-color: #ffc115f8;
    height: 0.4rem;
    border-radius: 20px;
} 
.filters {
    display: flex;
    justify-content: space-around;
}

.filterList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterTiltle {
    cursor: pointer;
    color: var(--content_color);
    font-size: 2rem;
}
.filterTiltle:hover{
    text-decoration: underline;
}
.filterTiltle i {
    margin-left: 0.2rem;
}

.listCategory{
    display: none;
    font-size: 2rem; 
    color: var(--content_color); 
}
.singleCategory{
    width: 17rem;
    margin: auto;
    box-shadow: var( --box_shadow);
    border-radius: 10px;
}

.listCategory input{
    height: 1.1rem;
    width: 1.9rem;
}

.filters button {
    width: 8rem;
    height: 3rem;
    outline: none;
    border: none;
    background-color: #ffc115f8  ;
    border-radius: 10px;
    box-shadow: var( --box_shadow);
    cursor: pointer;
}
.filters button:focus{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9) inset ;
}


.productsContainer{
    display: flex;
    margin-bottom: 18rem;
    flex-wrap: wrap;
}
.Singleproduct {
    width: 10rem;
    height: 10rem;
    margin: 1rem 5rem 17rem 5rem  ;
    box-shadow: var( --box_shadow);
    border-radius: 20px 20px 0 0 ;
}
.imageProduct{
    width: 17rem;
    height: 13rem;
    position: relative;
}
.imageProduct img{
    border-radius: 20px 20px 0 0 ;
    width: 100%;
    height: 100%;
}
.cartIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}
.cartIcon i{   
    font-size: 2.7rem; 
    cursor: pointer; 
}
.heartIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}
.heartIcon i{   
    font-size: 2.7rem; 
    cursor: pointer;
    color: rgb(228, 72, 72); 
}


.productBody{
    box-shadow: var( --box_shadow);
    border-radius: 0px 0px 20px 20px ;
    padding: 1rem;
    width: 17rem;
    color: var( --content_color);
}
.productBody h2{
    font-weight: bold;
    font-size: 2rem;
}
.productBody div {
    font-size:1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.productBody button {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.6rem;
    background-color: #ffc115f8  ;
    border-radius: 10px;
    box-shadow: var( --box_shadow);
    border: none;
    cursor: pointer;
    width: 100%;
}

.productBody button:active{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9) inset ;
}
.loadMoreContainer {
    width: 100%;
    text-align: center;
}
.loadMore{
    padding: 1rem 3rem;
    background-color: #ffc115f8;
    color: white;
    border-radius: 6px;
    font-size: 2rem;
    border: none;
    margin:0 0 4rem 4rem;
    cursor: pointer;
    box-shadow: var( --box_shadow);
}
.loadMore:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9) inset ; 
}
.searchProduct input{
    padding: 1rem;
    border-radius: 40px;
    outline: none;
    border: none;
    box-shadow: var( --box_shadow)
}
